<div ng-controller="ManageMainCtrl" class="manage-main h100">
  <div ng-include="'templates/manage/userinfo.html'"></div>
  <div class="main h100">
    <div class="ul">
      <ul>
        <li><span ng-class="{true:'active'}[hashPage=='typemanage.html']" ng-click="changePage('typemanage');">商品大类管理</span></li>
        <li><span ng-class="{true:'active'}[hashPage=='subtypemanage.html']" ng-click="changePage('subtypemanage');">商品小类管理</span></li>
        <li><span ng-class="{true:'active'}[hashPage=='configmanage.html']" ng-click="changePage('configmanage');">配置管理</span></li>
        <li></li>
      </ul>
    </div>
    <div class="include">
      <div ng-include="inc"></div>
    </div>
  </div>
</div>